html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body, main, .sidebar {
    height: calc(100vh - 120px);
}

.content {
    width: 100%;
    height: 100%;
}

a:hover {
    color: #000000;
}

.side-menu-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: all ease-in-out 300ms;
}

    .side-menu-link a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 15px 30px;
        color: #ffffff;
    }

    .side-menu-link a:hover {
        color: #ffffff;
    }

    th, td {
        text-align: center;
    }