@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-3/4 flex flex-column items-center p-3">
    <h1 class="font-bold text-3xl w-fit">Welcome to Intia Insurance</h1>
</div>